
@{
    ViewData["Title"] = "Fetch";
}

<h1>Fetch</h1>

@section Scripts{
    <script>
        //console.log(fetch("/api/index"));
        fetch('url')
        then(response=>{
            if(response.ok{
                return response.text(); //promise
            })
        })
        .then(data=>{
            console.log(data);
        })
        .catch(error=>{
            console.log(error);
        })
    </script>
}

