@model Msit147Site.Models.Member

<h4>會員註冊頁面</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CheckAccount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" id="email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileData" class="control-label"></label>
                <input asp-for="FileData" class="form-control" />
                <span asp-validation-for="FileData" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="建立會員" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script>
        //先找到要控制的對象
        const add = document.querySelector('#Email');
        //在甚麼的行為下
        add.addEventListener('blur', () => {
            //要做甚麼事=>透過XMLHttpRequest物件對伺服器發出要求(Request)以及接受伺服器回應(Response)的資料

            //第一步 建立Ajaxs物件
            const xhr = new XMLHttpRequest();
            //第二步 對伺服器發出要求
            xhr.open('GET', `/api/CheckAccount?email=${add.value}`);//大小寫都ok
            xhr.send();

            //第三步 接受伺服器回應(Response)的資料
            //load事件表示伺服器已經回應資料了
            xhr.addEventListener('load', () => {
                //接收資料
                const datas = JSON.parse(xhr.responseText);

                console.log(datas)

                if (datas) {
                    document.querySelector('#email').innerHTML = "此帳號已存在"
                }
            })

        })
    </script>
}

@section Styles{

}
